@use './partials/variables' as *;

$fa-font-path: "./webfonts" !default;
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

// $theme-color: (
//     "table-color": #f2f2f2,
// );


@import '~bootstrap/scss/bootstrap';

// body{
//     color: #f2f2f2;
// }
.pagination {
    cursor: pointer;
    .page-item{
        background-color: $bg-youtube-dark !important;
        .page-link{
            background-color: $bg-youtube-dark !important;
            border: 1px solid $my-secondary;
                color: white;
                &:hover {
                    color: $bg-youtube-light ;
                }
    

        }


    }
        
        
}
.bg-dark-mode{
    background-color: $bg-youtube-dark;
    color: $white-txt;
}

.bg-dark-light{
    background-color: $bg-youtube-light !important;
    color: $white-txt;
}


#navbar-login a:not(#app-logo) {
    color: white !important;
    border-radius: 2px 15px 2px 15px;
    position: relative;
    transform-origin: left;
    box-shadow: inset 0 0 0 0 #8D4408;
    margin: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out, transform 0.3s;

    &:hover {
        background-color: #8D4408;
        // color: #d72424 !important;
        // font-weight: 600;
        // transform: scale(1.1);
        box-shadow: inset 100px 0 0 0 #FC8019;
        // transform-origin: right;
    }
    // &::before {
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     height: 2px;
    //     border-radius: 2px;
    //     background-color: #FC8019;
    //     bottom: 0;
    //     left: 0;
    //     transform-origin: right;
    //     transform: scaleX(0);
    //     transition: transform .3s ease-in-out;
    //   }
    
    // &:hover::before {
    //   transform-origin: left;
    //   transform: scaleX(1);
    // }
}

#admin {
    height: 100vh;
    width: 100%;
    display: flex;

    #wrapper {
        width: calc(100% - 250px);
        height: 100vh;
        overflow-y: hidden;
        header {
            height: 3rem;
            .img-profile {
                height: 2rem;
                width: 2rem;
            }
        }
        main{
            margin-top: 3.5rem;
            height: calc(100vh - 3rem);
            overflow-y: auto;
        }
        .form-label{
            &::first-letter{
                color: $my-main;
                font-weight: 500;
            }
        }
        h1{
            &::first-letter{
                color: $my-main;
            }
    
        }
    }

    #sidebarMenu {
        background: linear-gradient(180deg, #8D4408 0%, rgba(170, 87, 19, 0.78) 59.82%, rgba(252, 128, 25, 0) 99.48%), linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(230, 183, 143, 0.74) 35.94%, #FC8019 100%);
        color: $white-txt;
        flex-shrink: 0;
        width: 250px;
        a{
            color: $white-txt;
            border-radius: 2rem 0 0 2rem;
            margin-left: 1rem;
            border-left: 2px solid transparent;
            border-bottom: 2px solid transparent;
            &.active-item{
                border-left: 2px solid $my-secondary;
                border-bottom: 2px solid $my-secondary;
                background: linear-gradient(16deg, rgba(232, 172, 0, 0.9) 0%, rgba(232, 172, 0, 0.37) 25.35%, rgba(232, 172, 0, 0) 58.89%);
            }
        }
    }
    
}


// .table-wrapper{
//     height: 650px;
//     padding: 10px 0;
// }

// .image-container{
//     width: 50px;
// }

//Style Dashboard
#dashboard{
    .card-header{
        img{
            width: 350px;
            border-radius: .3rem;
            outline-offset: 4px;
            outline: 3px solid $my-main;
        }
        span{
            font-style: italic;
        }
    }

    .dashboard-list{
    list-style: none;

    li{
        background-color: transparent;
    } :hover{
        background-color: $my-main;
    }
   
}

.nav-dashboard{
    a{
        text-decoration: none;
        color: $my-main;
    }
}
}
.z-index{
    z-index: -1000;
}

.orange{
    color: $my-main;
}
.debug{
    border: 1px solid black;
    color: $my-main;
}
.bolding{
    font-weight: bold;
    width: fit-content;
    hr{
        border:1px solid $my-main;
    }
}

//Delete message
.bgModal{
    background-color: $my-dark;
}

//header
#header{
   position: fixed;
   top: 0;
   width: calc(100% - 250px);
   height: 3rem;
   z-index: 3000;
   border-bottom: 1px solid $bg-youtube-light;
   .dropdown-toggle{
        color: $white-txt;
        text-decoration: none;
        i{
            color: $my-main;
        }
        div::first-letter{
            font-weight: 600;
            color: $my-main;
        }
   }
   .navbar-nav{
        li{
            & a:hover{
                color: $my-main;
            }
        }
   }
   .bg-dark-light{
        a.dropdown-item{
            color: $white-txt;
            border-bottom: 1px solid transparent;

            &:hover{
                background-color: lighten($color: $bg-youtube-light, $amount: 5);
                border-bottom: 1px dotted $white-txt;
            }
        }
   }
   
}

#indexProduct{
    thead{
        th{
            font-size: 1.2rem;
            &::first-letter{
                color: $my-main;
            }
        }
    }
}
#indexOrder{
    th,td{
        text-align: left;
    }
    a{
        color: $white-txt;
        text-decoration: none;
    }
    .order{
        color: $white-txt;
        &:hover, &:active{
            color: $my-main;
            border-color: $my-main;
        }
    }
    form{
        button,i {
            color: $white-txt;
            font-weight: 700;
        }
        button.btn-outline-light:hover, .btn-outline-light:hover i{
            color: $my-dark;
        }
    }
}
#showOrder{
    a{
        color: $my-dark;
        font-weight: 800;
        text-transform: uppercase;
        &:hover{
            border: 1px solid $my-dark;
        }
    }
    h2{
        &::first-letter{
            color: $my-main;
        }
    }
    .subtitle{
        font-weight: 500;
    }
    .important{
        color: lighten($color: $my-main, $amount: 20);
        font-weight: 600;
        font-style: italic;
    }
}

//show Product
#showProduct{
    
    img.shadow{
        outline-offset: 3px;
        outline: 3px solid $my-main;
    }
    .price-through{
        color: darken($color: $my-main, $amount: 3);

        font-size: 80%;
    }
    .edit{
        // position: absolute;
        // bottom: 3rem;
        // right: calc((100% / 3) + 3%) ;
        button{
            color: $my-dark;
            font-weight: 900;
            text-transform: uppercase;
            &:hover{
                border: 1px solid $my-dark;
            }
        }
    }
    .back{
        i{
            font-weight: 800;
        vertical-align: middle;
        line-height: 2rem ;
        height: 2rem;
        }
    }


}



//editProduct
#editProduct{
    .back{
        i{
            font-weight: 800;
        vertical-align: middle;
        line-height: 2rem ;
        height: 2rem;
        }
    }
    img{
        
        max-width: 300px;
    }
}

@media screen and (max-width: 800px){
    #admin{
        #sidebarMenu {
        width: 175px;
        a{
            margin-left: 0;
        }
        .fa-solid{
            display: none;
        }
      }
      #wrapper {
        width: calc(100% - 175px);
    }
}
}