@use './partials/variables' as *;
$fa-font-path: "../fonts/font-awesome" !default;



@import '~bootstrap/scss/bootstrap';

<<<<<<< HEAD
.bg-dark-mode{
    background-color: #0F0F0F;
    color: #F2F2F2;
}

.bg-dark-light{
    background-color: #282828;
    color: #F2F2F2;
}

=======
>>>>>>> view-show-GG
#admin {
    height: 100vh;
    width: 100%;
    display: flex;

    #wrapper {
        flex-grow: 1;
        overflow-y: auto;

        header {
            min-height: 70px;

            .img-profile {
                height: 2rem;
                width: 2rem;
            }
        }
    }

    #sidebarMenu {
        background-color: $my-main;
        color: white;
    }
}


.table-wrapper{
    height: 650px;
    padding: 10px 0;
}

.image-container{
    width: 50px;
}

//Style Dashboard
.dashboard-list{
    list-style: none;

    li{
        background-color: transparent;
    } :hover{
        background-color: #b04f00;
    }
}

.nav-dashboard{
    a{
        text-decoration: none;
        color: $my-main;
    }
}

.z-index{
    z-index: -1000;
}

.orange{
   color: #FC8019;
}
.debug{
    border: 1px solid black;
   color: $my-main;
}
.bolding{
    font-weight: bold;
    width: fit-content;
    hr{
        border:1px solid $my-main;
    }
}


// background 
.bg-dark-mode{
    background-color: #0F0F0F;
    color: #F2F2F2;
}

.bg-dark-light{
    background-color: #282828;
}


//show
#showProduct{
    h1{
        &::first-letter{
            color: darken($color: $my-main, $amount: 3);
        }

    }
    img.shadow{
        outline-offset: 3px;
        outline: 3px solid $my-main;
    }
    .price-through{
        color: darken($color: $my-main, $amount: 3);

        font-size: 80%;
    }
    .edit{
        position: absolute;
        bottom: 0;
        right: 1rem;
        button{
            color: $white-txt;
            font-weight: 900;
            text-transform: uppercase;
            &:hover{
                border: 1px solid $white-txt;
            }
        }
    }
}